/*  css 파일자체가 style을 포함하기때문에 style태그가 필요가 없다. */
*{
  margin: 0px 0px;
}

.a {
  background-color: black;
  color: blue;
  font-weight: bold;
}

h3 {
  background-color: black; 
  color: aliceblue;
}

span, p{
  background-color: aqua;
  color: blue;
}