<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://Java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>namoo.tutorial.servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>jdbc.driver</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>fileStorage</param-name>
    <param-value>D:/Lecture/projects/namoo.tutorial.servlet/src/main/webapp/WEB-INF/fileStorage
		</param-value>
  </context-param>
  <context-param>
    <param-name>limitFileSize</param-name>
    <param-value>5242880</param-value>
  </context-param>
  <servlet>
    <description>최초로 만든 서블릿</description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>구구단을 동적으로 출력하는 서블릿</description>
    <display-name>GugudanServlet</display-name>
    <servlet-name>GugudanServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.GugudanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GugudanServlet</servlet-name>
    <url-pattern>/gugudan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycleServlet</display-name>
    <servlet-name>LifeCycleServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.LifeCycleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleServlet</servlet-name>
    <url-pattern>/cycle.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormServlet</display-name>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.FormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/form.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MimeServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.MimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MimeServlet</servlet-name>
    <url-pattern>/mime.pdf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>게시판 글쓰기 만들기</description>
    <display-name>BoardWriteServlet</display-name>
    <servlet-name>BoardWriteServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.BoardWriteServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardWriteServlet</servlet-name>
    <url-pattern>/write.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardListServlet</display-name>
    <servlet-name>BoardListServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.BoardListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardListServlet</servlet-name>
    <url-pattern>/list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>DB와 연결하는 Servlet</description>
    <display-name>DBServlet</display-name>
    <servlet-name>DBServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.DBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBServlet</servlet-name>
    <url-pattern>/db.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserCreateServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.UserCreateServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCreateServlet</servlet-name>
    <url-pattern>/create.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserResultServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.UserResultServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserResultServlet</servlet-name>
    <url-pattern>/result.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletConfigServlet</display-name>
    <servlet-name>ServletConfigServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.ServletConfigServlet
		</servlet-class>
    <init-param>
      <description></description>
      <param-name>user</param-name>
      <param-value>bangry</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>passwd</param-name>
      <param-value>1111</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigServlet</servlet-name>
    <url-pattern>/ServletConfigServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletconfigServlet</display-name>
    <servlet-name>ServletconfigServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.ServletConfigServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletconfigServlet</servlet-name>
    <url-pattern>/ServletconfigServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContextServlet</display-name>
    <servlet-name>ServletContextServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.ServletContextServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextServlet</servlet-name>
    <url-pattern>/context.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncludeServlet</display-name>
    <servlet-name>IncludeServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.IncludeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncludeServlet</servlet-name>
    <url-pattern>/include.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpSessionServlet</display-name>
    <servlet-name>HttpSessionServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.HttpSessionServlet
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpSessionServlet</servlet-name>
    <url-pattern>/session.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpSessionServlet2</display-name>
    <servlet-name>HttpSessionServlet2</servlet-name>
    <servlet-class>namoo.tutorial.servlet.HttpSessionServlet2
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpSessionServlet2</servlet-name>
    <url-pattern>/session2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet2</display-name>
    <servlet-name>FileUploadServlet2</servlet-name>
    <servlet-class>namoo.tutorial.servlet.FileUploadServlet2
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet2</servlet-name>
    <url-pattern>/upload.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileDownloadServlet</display-name>
    <servlet-name>FileDownloadServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.FileDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownloadServlet</servlet-name>
    <url-pattern>/download.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileListServlet</display-name>
    <servlet-name>FileListServlet</servlet-name>
    <servlet-class>namoo.tutorial.servlet.FileListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileListServlet</servlet-name>
    <url-pattern>/filelist.do</url-pattern>
  </servlet-mapping>
</web-app>