<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://Java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>namoo.tutorial.jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- 에러페이지 설정 -->
  <!-- 500번 에러를 페이징으로 표시할 경우 디버깅이 힘들기때문에 서버가 다 꾸려졌을 때 선언해주는게 좋다.
  <error-page>
  	<exception-type>java.lang.Exception</exception-type>
  	<location>/error/error_500.jsp</location>
  </error-page>
  -->
  <error-page>
  	<error-code>400</error-code>
  	<location>/error/error_400.jsp</location>
  </error-page>
  
    <error-page>
  	<error-code>404</error-code>
  	<location>/error/error_404.jsp</location>
  </error-page>
  
  <servlet>
  	<servlet-name>configExample</servlet-name>
  	<jsp-file>/configExample.jsp</jsp-file>
  	<init-param>
  		<param-name>user</param-name>
  		<param-value>bangry</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>configExample</servlet-name>
  	<url-pattern>/config</url-pattern>
  </servlet-mapping>
</web-app>